body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

header, footer {
    background-color: rgb(0, 126, 19);
    color: #fff;
    padding: 5px 0;
}

button {
    padding: 10px 15px;
    margin: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.warning {
    background-color: red;
}

.play-container {
    display: flex;
    justify-content: space-between;
}

.player-buttons, .action-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust as needed */
}

.player-button {
    display: block; /* Each button takes up the full width */
    width: 100%; /* Ensures the button stretches to the full width of its container */
    margin-bottom: 5px; /* Adds a small margin between buttons */
    /* Add any other desired styles (padding, font size, etc.) */
}

input {
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Ensure table columns with player names are left-aligned */
table {
    text-align: left;
}

/* create a container for the table to allow horizontal scrolling */
#tableContainer {
    overflow-x: auto;
    max-width: 100%;
}

#activePlayersTable {
    border-collapse: collapse;
    width: max-content;
}

#activePlayersTable th, #activePlayersTable td {
    border: 1px solid grey;
    padding: 5px 5px;
}

/* Apply position:sticky to the first two columns: checkbox & player name */
/* fix width of checkbox column */
#activePlayersTable th:first-child, 
#activePlayersTable td:first-child {
    width: 30px; /* Adjust this based on your preference */
    overflow: hidden;  /* don't widen the column for the header text */
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    position: sticky;
    left: 0px;
}

/* specify the left value to determine where the column should "stick" when scrolling: */
#activePlayersTable th:nth-child(2), 
#activePlayersTable td:nth-child(2) {
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    position: sticky;
    left: 40px;
    z-index: 1;         /* This ensures the sticky columns are above the other content */
}

/* fix width of point columns */
#activePlayersTable th:not(:first-child):not(:nth-child(2)), 
#activePlayersTable td:not(:first-child):not(:nth-child(2)) {
    width: 20px;        /* Or you can adjust this value as per your needs */
    overflow: hidden;
    text-align: left;
    background-color: #f0f0f0;
}

