html {
    font-size: 4vw; /* Default font size */
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: #f4f4f4;
    text-align: center;
    padding: 1vw;
}

header, footer {
    background-color: rgb(8, 91, 49);
    color: #fff;
    /* padding: 1vw 0; */
}

button {
    padding: 5vw 8vw;
    margin: 5vw;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.warning {
    background-color: red;
}

/* Ensure table columns with player names are left-aligned */
table {
    text-align: left;
    border: 1px solid grey;
}

.play-container {
    display: flex;
    justify-content: space-between;
}

.player-buttons, .action-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 2vw; /* Adjust as needed */
}

.player-button {
    display: block; /* Each button takes up the full width */
    width: 100%; /* Ensures the button stretches to the full width of its container */
    margin-bottom: 2vw; /* Adds a small margin between buttons */
    /* Add any other desired styles (padding, font size, etc.) */
}

input {
    padding: 1vw;
    margin: 1vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* create a container for the table to allow horizontal scrolling */
#tableContainer {
    overflow-x: auto;
    max-width: 100%;
}

#activePlayersTable {
    border-collapse: collapse;
    width: max-content;
}

#activePlayersTable th, #activePlayersTable td {
    border: 1px solid grey;
    padding: 1vw 1vw;
}

/* Apply position:sticky to the first THREE columns: checkbox, player name, time played */

/* first column of header spans all 3 sticky columns */
.active-header-teams {
    position: sticky;
    left: 0px;
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    z-index: 3;  /* greater than the other sticky columns */
}

/* fix width of checkbox column */
.active-checkbox-column {
    width: auto; /* Adjust this based on your preference */
    overflow: hidden;  /* don't widen the column for the header text */
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    position: sticky;
    left: 0px;
    z-index: 2;  /* greater than the next sticky column */
}

/* specify the left value to determine where the column should "stick" when scrolling: */
.active-name-column {
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    position: sticky;
    left: 40px;         /* this will be overwritten dynamically to width of checkbox column */
    z-index: 1;         /* This ensures the sticky columns are above the other content */
    border-right: 1px grey;
}

.active-time-column {
    width: auto;
    background-color: #fafafa;  /* To ensure the columns are not transparent */
    position: sticky;
    left: 120px;        /* this will be overwritten dynamically to width of name column */
    z-index: 1;         /* This ensures the sticky columns are above the other content */

    font-style: italic;
}

/* fix width of point columns */
.active-points-columns {
    width: 3vw;        /* Or you can adjust this value as per your needs */
    overflow: hidden;
    text-align: left;
    background-color: #fafafa;

    border: 1px solid grey;
}

/* styles for the names, time, and points-played columns */
.roster-name-column {
    text-align: left;
    /* border: 1px solid grey; */
    border-right: none;
}

.roster-points-column {
    text-align: center;
    border-right: none;
    border-left: none;
}

.roster-time-column {
    text-align: center;
    font-style: italic;
    border-left: none;
}
