name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install AWS CLI
        run: |
          curl -s "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -q awscliv2.zip
          rm awscliv2.zip
          sudo ./aws/install --update
          aws --version

      - name: Deploy to S3
        run: |
          # Sync the contents of the current directory to the S3 bucket, excluding .git, .github, and AWS CLI files
          aws s3 sync . s3://luebke.us/ultistats/ --exclude ".git/*" --exclude ".github/*" --exclude "aws/*" --region us-west-2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Create CloudFront Invalidation
        run: |
          # Use the AWS CLI to create a CloudFront invalidation for the ultistats directory
          aws cloudfront create-invalidation --distribution-id E3G1NZWEOD2Y27 --paths "/ultistats/*"
