name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install AWS CLI
        run: |
          curl -s "https://d1vvhvl2y92vvt.cloudfront.net/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws --version

      - name: Determine changed files
        id: changed-files
        run: |
          git fetch
          git diff --name-only origin/main...HEAD > changed-files.txt
          echo "------------------------------------"
          echo "The list of changed files:"
          echo "------------------------------------"
          cat changed-files.txt  # Print the contents of changed-files.txt
          echo "------------------------------------"
          echo "The full git diff output"
          echo "------------------------------------"
          git diff origin/main...HEAD  # Display the full git diff output
        shell: bash

      - name: Deploy to S3
        run: |
          cat changed-files.txt | xargs -I {} aws s3 cp {} s3://luebke.us/ultistats/{} --region us-west-2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
